@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;    
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /* text-transform: uppercase;   letras maiusculas*/
    font-variant: small-caps; /* letras maiusculas com letra inicial maior*/
    font-family: var(--font2);
    font-size: 4em;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /*espaçamento duplo entre as frases*/
    padding-left: 30px;
    font-size: 3.5vw; /* dessa forma o tamanho da letra aumenta ou diminui de acordo com o tamnho da janela*/
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(42, 40, 40);
    color: white;
}

section.imagem > p {
    display: inline-block;
    background-color: rgb(29, 26, 26);
    padding: 5px;
}
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}