@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
header {
    color: white;
    background-color: black;
    text-align: center;
    
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
    font-family: 'Passion One', cursive;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header :p {
    cursor: pointer;
}

body {
    min-height: 100vh;
    margin: auto;
    font-size: 1em;
}
#link {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

main {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
    font-family: 'Sriracha', cursive;;
}